img{ -webkit-user-drag:none; }
a{ text-decoration:none; color:#FFF;}
body{
	overflow:hidden auto;
	margin:0px; padding: 0px;
	width:100%;
	height:100%;
}
html{ height:100%; width:100%; }

h1, h2, h3, p { margin: 5px 0px; }

.topNav{ width: 100%; margin-bottom: 10px; }

.container{ width:calc(100% - 20px); margin: 10px; height:fit-content; }
.btn{ margin: 8px 1px; }

#userCard { margin:2px; width:calc(100% - 4px); height:100px; min-width:220px; max-width:none; display:inline-flex; }
#userCard div[slot="image"]{height:100%; width:fit-content; margin-right:5px; }
#userCard div[slot="image"] img { height:100%; }
#userCard div[slot="headline"]{ height:100%; margin-right:10px; flex-grow:1; min-width:90px; overflow:hidden; flex-shrink:1; line-height:1.2; }
#userCard div[slot="headline"] .usrSign { font-size:medium; font-weight:normal; margin:3px 0; padding:0; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; }
#userCard div[slot="headline"] s-chip { margin:3px 2px; }
#userCard div[slot="subhead"] { width:fit-content; }
#userCard div[slot="subhead"] s-icon-button { margin:26px 5px; }

.pref_label { margin:5px 2px; }
.pref_label input[type="text"] { margin-left:5px; padding:5px; border-radius: 5px; border:none; background: #222; color: #FFF; border:1px solid #333; }
.pref_label input[type="text"]:focus { outline:2px solid #393939; }