s-page {
  --s-color-primary: #006492;
  --s-color-on-primary: #ffffff;
  --s-color-primary-container: #c9e6ff;
  --s-color-on-primary-container: #001e2f;
  --s-color-secondary: #50606e;
  --s-color-on-secondary: #ffffff;
  --s-color-secondary-container: #d3e5f5;
  --s-color-on-secondary-container: #0c1d29;
  --s-color-tertiary: #64597b;
  --s-color-on-tertiary: #ffffff;
  --s-color-tertiary-container: #eaddff;
  --s-color-on-tertiary-container: #201634;
  --s-color-error: #ba1a1a;
  --s-color-on-error: #ffffff;
  --s-color-error-container: #ffdad6;
  --s-color-on-error-container: #410002;
  --s-color-background: #fcfcff;
  --s-color-on-background: #1a1c1e;
  --s-color-outline: #72787e;
  --s-color-outline-variant: #c1c7ce;
  --s-color-surface: #fcfcff;
  --s-color-on-surface: #1a1c1e;
  --s-color-surface-variant: #dde3ea;
  --s-color-on-surface-variant: #41474d;
  --s-color-inverse-surface: #2e3133;
  --s-color-inverse-on-surface: #f0f0f3;
  --s-color-inverse-primary: #8bceff;
  --s-color-surface-container: #edeef1;
  --s-color-surface-container-lowest: #e2e2e5;
  --s-color-surface-container-low: #e7e8eb;
  --s-color-surface-container-high: #f3f3f6;
  --s-color-surface-container-highest: #ffffff;
  --s-color-dark-primary: #8bceff;
  --s-color-dark-on-primary: #00344e;
  --s-color-dark-primary-container: #004b6f;
  --s-color-dark-on-primary-container: #c9e6ff;
  --s-color-dark-secondary: #b7c9d9;
  --s-color-dark-on-secondary: #22323f;
  --s-color-dark-secondary-container: #384956;
  --s-color-dark-on-secondary-container: #d3e5f5;
  --s-color-dark-tertiary: #cfc0e8;
  --s-color-dark-on-tertiary: #352b4b;
  --s-color-dark-tertiary-container: #4c4162;
  --s-color-dark-on-tertiary-container: #eaddff;
  --s-color-dark-error: #ffb4ab;
  --s-color-dark-on-error: #690005;
  --s-color-dark-error-container: #93000a;
  --s-color-dark-on-error-container: #ffb4ab;
  --s-color-dark-background: #1a1c1e;
  --s-color-dark-on-background: #e2e2e5;
  --s-color-dark-outline: #8b9198;
  --s-color-dark-outline-variant: #41474d;
  --s-color-dark-surface: #1a1c1e;
  --s-color-dark-on-surface: #e2e2e5;
  --s-color-dark-surface-variant: #41474d;
  --s-color-dark-on-surface-variant: #c1c7ce;
  --s-color-dark-inverse-surface: #e2e2e5;
  --s-color-dark-inverse-on-surface: #2e3133;
  --s-color-dark-inverse-primary: #006492;
  --s-color-dark-surface-container: #1e2022;
  --s-color-dark-surface-container-lowest: #0c0e11;
  --s-color-dark-surface-container-low: #1a1c1e;
  --s-color-dark-surface-container-high: #282a2d;
  --s-color-dark-surface-container-highest: #333537;
}